@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #FAFAFA;
    word-wrap: break-word;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
header img {
    width: 176px;
}

.page_content {
    margin-top: 69px;
    width: 100vw;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}




/* ------------------------- Tela 1 ------------------------- */

.tela_1 {
    width: 1051px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.empty_quiz_container {
    position: relative;
    width: 100%;
    height: 181px;
    background-color: #FAFAFA;
    margin: 77px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}
.empty_quiz_container h1 {
    position: absolute;
    width: 220px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}
.empty_quiz_container button {
    position: absolute;
    box-sizing: border-box;
    width: 151px;
    height: 40px;
    background-color: #FAFAFA;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 40px;
    bottom: 33px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}


.quiz_container {
    width: 100%;
    margin-bottom: -21px;
    margin-top: 69px;
}

.cabecalho_meus_quizes > p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    
}

.cabecalho_meus_quizes > ion-icon{
    font-size: 31px;
    color: #EC362D;
    margin-left: 17px;
    
}

.cabecalho_meus_quizes > ion-icon:hover{
    cursor: pointer;
    
}

.cabecalho_meus_quizes{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quiz_container h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 12px;
}

.quiz_gallery, .my_quiz_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.quiz {
    position: relative;
    width: 340px;
    height: 181px;
    cursor: pointer;
    border-radius: 5px;
}
.quiz_image img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.quiz_image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}
.quiz h1 {
    position: absolute;
    left: 18px;
    bottom: 0;
    width: 90%;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}




/* ------------------------- Tela 2 ------------------------- */
.tela_2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.quiz_title {
    position: relative;
    width: 100%;
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quiz_title_image {
    width: 100%;
    height: 100%;
}
.quiz_title_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quiz_title_image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
}

.quiz_title h1 {
    position: absolute;
    width: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

.questions_container {
    width: 759px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.question {
    box-sizing: border-box;
    margin-top: 42px;
    width: 100%;
    padding: 22px 30px 25px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.question_title {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #434CA0;
    margin-bottom: 16px;
}
.question_title h1 {
    width: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FAFAFA;
}
.question_alternatives {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 13px
}

.question_alternatives .alternative {
    width: calc((759px - 73px)/2);
    height: 209px;
    margin-bottom: 6px;
    cursor: pointer;
}

.question_alternatives .alternative img {
    width: 100%;
    height: calc(100% - 25px);
}
.question_alternatives .alternative h2 {
    width: 100%;
    height: 25px;
    margin-top: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}

.quiz_result {
    box-sizing: border-box;
    width: 100%;
    background-color: #FFFFFF;
    padding: 18px 18px 25px 18px;
    margin-top: 44px;
    margin-bottom: 34px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.quiz_result .title {
    height: 99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #EC362D;
    margin-bottom: 18px;
}
.quiz_result .title h1 {
    width: 90%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.quiz_result .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.quiz_result .content img {
    width: calc((100% - 21px)/2);
}

.quiz_result .content p {
    width: calc((100% - 21px)/2);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}

button.reset_quiz {
    width: 220.32px;
    height: 44px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFF5F4;
}

button.back_home {
    width: 219.64px;
    height: 44px;
    border: none;
    margin-bottom: 66px;
    margin-top: 8px;
    background: none;
    cursor: pointer;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #818181;
}





/* ------------------------- Tela 3 ------------------------- */
.tela_3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tela_3a, .tela_3b, .tela_3c, .tela_3d {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tela_3 h1 {
    margin-top: 71px;
    margin-bottom: 27px;
    height: 27px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.tela_3 .form_container {
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: min(600px, calc(100% - 36px));
    max-width: calc(100% - 36px);
    padding-top: 21px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.tela_3 input{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 46px;
    padding-left: 23.16px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}
.tela_3 input::-webkit-outer-spin-button,
.tela_3 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.tela_3 input[type=number] {
    -moz-appearance: textfield;
}
.tela_3 input::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}
.tela_3 input:focus{
    outline: none;
}
.tela_3 input:focus::placeholder{
    opacity: 0;
}
.tela_3a input {
    margin-bottom: 9px;
}

.tela_3 button {
    width: 368.86px;
    height: 54px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    cursor: pointer;

    width: 367.72px;
    height: 54px;
    margin-top:61px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFF5F4;
}
.tela_3 h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-top: 27px;
    color: #000000;
}

.tela_3 .form_question {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
}
.tela_3 .form_question input {
    max-width: 100%;
}

/* ------------------------- Tela 3b,c ------------------------- */

.tela_3b .form_question input:nth-child(3), 
.tela_3b .form_question input:nth-child(5){
    margin-bottom: 18px;
}

.tela_3b, .tela_3c{
    padding-bottom: 468px;
}
.tela_3b .form_container, .tela_3c .form_container {
    padding-top: 0;
}


.tela_3c textarea {
    position: relative;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    max-width: 100%;
    height: 46px;
    padding-top: 12px;
    padding-left: 14px;
    padding-right: 14px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 23.16px;
    z-index: 0;
}
.tela_3c textarea::placeholder {
    position: absolute;
    top: 11px;
    left: 23.16px;
    width: 152px;
    height: 22px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}
.tela_3c textarea:focus{
    outline: none;
}
.tela_3c textarea:focus::placeholder{
    opacity: 0;
}


/* ------------------------- Tela 3d ------------------------- */
.tela_3d .img_result{
    position: relative;
    margin-bottom: 45px;
}
.tela_3d .quiz_image {
    position: relative;
    width: 500px;
    height: 266px;
}
.tela_3d .quiz_image img {
    width: 100%;
    height: 100%;
}

.tela_3d .quiz_image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}

.tela_3d h3 {
    position: absolute;
    left: 23px;
    bottom: 13px;
    width: 500px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.tela_3d button.reset_quiz {
    width: 220.32px;
    height: 44px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFF5F4;
}

.tela_3d button.back_home {
    width: 219.64px;
    height: 44px;
    border: none;
    margin-bottom: 66px;
    margin-top: 8px;
    background: none;
    cursor: pointer;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #818181;
}









/* ------------------------- Auxiliary Classes ------------------------- */

.hidden {
    display: none;
}





/* ------------------------- Media Query ------------------------- */
@media (max-width: 1100px) {
    header img{
        width: min(176px, 98vw);
    }
    /* ------------------------- Tela 1 ------------------------- */
    .tela_1 {
        width: calc(100vw - 36px);
    }
    .empty_quiz_container {
        margin-top: 31px;
        margin-bottom: 0;
    }
    .empty_quiz_container h1{
        width: min(100%, 220px);
    }
    .empty_quiz_container button{
        width: min(96%, 151px);
    }
    .quiz_container {
        margin-top: 38px;
        margin-bottom: 0;
    }
    .quiz {
        width: min(340px, 100vw);
        height: min(181px, calc(0.532 * min(340px, 100vw)));
    }

    /* ------------------------- Tela 2 ------------------------- */
    .quiz_title{
        height: 142px;
    }
    .quiz_title h1 {
        font-size: 19px;
        line-height: 22px;
    }
    .questions_container{
        width: min(max(375px, min(759px, 96vw)),100vw);
    }
    .question_title h1{
        font-size: 19px;
        line-height: 22px;
    }
    .question_alternatives .alternative {
        width: calc((min(max(375px, min(759px, 96vw)),100vw) - 73px)/2);
        height: max(113px, calc(0.531 * calc((min(max(375px, min(759px, 96vw)),100vw) - 73px)/2)));
    }
    .question_alternatives .alternative h2 {
        font-size: 13px;
        line-height: 15px;
        margin-top: 1px;
    }
    .quiz_image img{
        width: min(340px, 100vw);
        height: min(181px, calc(0.532 * min(340px, 100vw)));
    }


    /* ------------------------- Tela 3 ------------------------- */
    .tela_3 h1 {
        margin-top: 37px;
    }

    .tela_3 .form_container {
        width: min(100vw, 600px);
        padding-left: 16px;
        padding-right: 18px;
    }

    .tela_3 input {
        padding-left: 14px;
        width: min(564px, calc(100vw - 34px));
    }

    .tela_3 button {
        margin-top: 5px;
        width: min(calc(100vw - 50px), 368.86px);
        font-size: 18px;
        line-height: 21px;
    }
    .tela_3b, .tela_3c{
        padding-bottom: 61px;
    }

    .tela_3c textarea{
        height: 177px;
    }
    .tela_3c textarea::placeholder {
        left: 14px;
    }

    .tela_3d .quiz_image {
        position: relative;
        width: min(500px, calc(100vw - 36px));
        height: calc(0.532 * min(500px, calc(100vw - 36px)));
    }

    .tela_3d h3 {
        left: 17px;
        width: min(500px, calc(100vw - 36px));
    }

}


@media (max-width: 759px) {
    .quiz_result .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .quiz_result .content img {
        width: 100%;
    }
    
    .quiz_result .content p {
        width: 100%;
        margin-top: 17px;
    }
}